<?xml version='1.0' encoding='utf-8'?>
<widget id="com.joseph.chongalo.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Community Policing</name>
    <description>
        A Community Policing App for iRoad users
    </description>
    <author email="vincentminde@gmail.com" href="http://cordova.io">
        Vincent Minde
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
