<div class="container">
    <div class="">
        <div class="row">
            <!--- welcome note -->
            <div class=" col s12" >
                <p class="flow-text">Welcome to iRoad 2.0 Community Policing app.</p>
                <img src="assets/img/home_page.png" width="100%">

            </div>

        </div>
        <div class="row" >
            <div class="col s12">
                <!--<a class="btn" ng-click="uploadTesting()">upload testing</a>-->
                <a href="#/new" style="margin-bottom: 10px" class="btn btn-large col s12 waves-effect waves-light blue">Community Report</a>
                <a href="#/facilities" style="margin-bottom: 10px" class="btn btn-large col s12 waves-effect waves-light blue">Hospital Police & Fire Station</a>
            </div>
        </div>
    </div>
</div>