<div class="container">
	<form ng-submit="data.event.save()">

		<div class="row">
			<div class="col s12 m12" style="
    margin-top: 20px;
">
				<div class="col s6 m6 center-align">
					<a class="btn-floating btn-large waves-effect waves-light blue"><i
						class="mdi-image-photo-camera" ng-click="takeAPhoto()"></i></a>
				</div>
				<div class="col s6 m6 center-align">
					<a class="btn-floating btn-large waves-effect waves-light blue" ng-click="takeAPVideo()"><i
						class="mdi-av-videocam"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content blue-text">
						<span class="card-title blue-text">Report an Event</span>
						<p>Please enter the information as instructed in the fields belo:.</p>
					</div>
					<div class="card-action">
						<div class="row">
							<div
								ng-repeat="programStageDataElement in data.program.programStages[0].programStageDataElements">
								<element-model element-data="programStageDataElement.dataElement" ng-data-model="data.event.dataValues[$index]">

								</element-model>

								<!--<div ng-if="programStageDataElement.dataElement.name != 'Community Report Video' && programStageDataElement.dataElement.name != 'Community Report Image'" class="input-field col s6"
									ng-if="programStageDataElement.dataElement.type == 'string' && !programStageDataElement.dataElement.optionSet">

									<label for="{{programStageDataElement.dataElement.id}}">{{programStageDataElement.dataElement.name}}</label>
									<input id="{{programStageDataElement.dataElement.id}}"
										type="text" class="validate" ng-model="data.event.dataValues[$index]"/>
								</div>
								<div class="input-field col s6"
									ng-if="programStageDataElement.dataElement.optionSet">
									<select class="" material-select watch
										ng-options="i.name as (i.name) for i in programStageDataElement.dataElement.optionSet.options">
										<option value="">Choose</option>
									</select>
								</div>-->

							</div>
						</div>
						<div class="row">
							<div class="col s12 m12">
								<button type="submit"
									class="col s12 m12 l6 waves-effect waves-light btn-large blue">Send</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>